@use '_commons' as c;

.contactos__container{

    background-image: url(../img/fondocontactos.jpg);
}


.form-label{

    @include c.sombras;
}

.form-text{

    color: c.$color-titulares;
    font-size: 20px;
    @include c.sombras;
}