@use '_commons' as c;

footer{

    background: wheat;
    height: 80px;
    color: c.$color-parrafo;
    font-family: sans-serif;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    padding-top: 10px;
  

    p a{
        
        font-size: 8px;
        text-decoration: none;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
        
        
    
    }
   
    
    
}






