@use '_commons' as c;

.contenedor__gallery{
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    gap:calc(10px + 10px);
    padding: 20px;
    background-color: c.$color-fondo;
    



    .gallery__fotos{
        width: 100%;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
        border: solid 1px rgb(255, 255, 255); 
        text-shadow: #fff;  
        
        
        &:hover{
    
            filter: opacity(0.9);
            transform: scale(1.04);
        }
    
    
    }

}



