@use '_commons' as c;



/*index*/
header{
  height: auto;
  
}

#menuylogo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    background: linear-gradient(to right, black, c.$color-fondo);
    list-style: none;

  }
  
  

nav ul{

    font-family: sans-serif;

    
}

nav ul li{

  font-weight: bold;
  list-style: none;
  
 
} 

nav ul li a{

  color: c.$color-parrafo;
  text-decoration: none;
  

  &:hover{
    
    @include c.sombras;

  }
}


  

